{% extends 'base.html' %}
{% load static from static %}
{% block content %}
<body>
  <div class="container-fluid page-container">
    <h1 class="text-center">About</h1>
      <div class="container home-content">
      <p>Hello, I'm Lauren Blakley, an aspiring web developer and designer looking to help turn ideas into wonderful sites. I have graduated in 2018 with a Bachelor of
        Science Degree in Web Design and Development from Lewis-Clark State Collage. I have worked and maintained the website for a small local business
        called A Way Forward since 2016 and build a website for Common Sense Solutions. I have created this site to further and showcase my skills with web development
      and what I've learned with Django and databases.</p></br>
        <h1 class="text-center home-text">Skills</h1>
        <div class="d-flex justify-content-center">
          <img class="img-fluid" src="/static/images/diagram.png" alt="diagram of django and what was use to make the site">
        </div>
      </div>
  </div>
</body>
{% endblock %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'login' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'logout' %}">login</a>
{% endif %}

