{% extends 'base.html' %}

{% block content %}
<div class="container signup-page">
    <h2 class="text-center signup-header">Sign up</h2>
    <form class="form-group signup-form" action="{% url 'login' %}">
     {% csrf_token %}
    <div class="form-group sign-up-form d-flex flex-column">
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        {% for error in field.errors %}
          <p>{{ error }}</p>
        {% endfor %}
    {% endfor %}
      </div>
      <div class="text-center">
        <button class="form-button btn button btn-block" type="submit">Sign up</button>
      </div>
  </form>
</div>

<!--<div class="d-flex justify-content-center">-->
<!--<div class="registration-page">-->
<!--<h2 class="text-center">Sign up</h2>-->
<!--  <form class="sign-up-form" method="post">-->
<!--    {% csrf_token %}-->
<!--    <div class="form-group d-flex flex-column">-->
<!--    {% for field in form %}-->
<!--        {{ field.label_tag }}-->
<!--        {{ field }}-->
<!--        {% for error in field.errors %}-->
<!--          <p>{{ error }}</p>-->
<!--        {% endfor %}-->
<!--    {% endfor %}-->
<!--      </div>-->
<!--      <div class="text-center">-->
<!--        <button class="form-button btn button" type="submit">Sign up</button>-->
<!--      </div>-->
<!--  </form>-->
<!--  </div>-->
<!--</div>-->
{% endblock %}